body {
    background-color: lightgray;
    color: black;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
  }
  canvas {
    border: solid 2px rgb(0, 0, 0);
    height: 90vh;
    margin-right: 10%;
  }
  .div{
    margin-left: 70px;
    padding: 10px;
    width: 220px;
    height: 180px;
    font-family: 'Courier New';
    color: rgb(29, 29, 29);
    font-size: 20px;
    float: left;
    background: rgb(112, 112, 255);
    border: 3px rgb(0, 0, 0) solid;
    text-align: center;
  }

  @media only screen and (max-width: 700px){
    * {
        display: flex;
        flex-direction: column;
        margin-left: 70px;

    }
  }